@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Ubuntu:wght@700&display=swap");
html {
  scroll-behavior: smooth;
}

.more {
  display: none;
}

.disabled {
  cursor: not-allowed;
  pointer-events: none;
  opacity: 50%;
}

body {
  margin: 0;
  background-color: #071629;
  font-family: 'Ubuntu', sans-serif;
}

body a {
  text-decoration: none;
  color: whitesmoke;
}

.fade {
  opacity: 1 !important;
}

.fadeDown {
  opacity: 1 !important;
  -webkit-transform: translateY(0) !important;
          transform: translateY(0) !important;
}

.invalid {
  border: 2px solid red !important;
  border-color: red !important;
}

.body-scroll-lock {
  overflow: hidden;
}

.menu {
  display: none;
}

.boxShadow {
  -webkit-box-shadow: 3px 7px 11px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 7px 11px 0px rgba(0, 0, 0, 0.75);
}

.nav {
  -webkit-transition: 0.2s ease-in-out;
  transition: 0.2s ease-in-out;
  -webkit-animation-delay: 2.5s;
          animation-delay: 2.5s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: rgba(7, 22, 41, 0.8);
  width: 90vw;
  margin-left: 5vw;
  opacity: 0;
  height: 100px;
  position: fixed;
  top: 0;
  z-index: 999;
}

.nav .logo {
  height: 100px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav .logo p {
  margin-left: 100px;
  margin-top: 30;
  font-weight: bold;
  font-size: 40;
  color: white;
  font-stretch: extra-condensed;
}

.nav .links {
  height: 100px;
  width: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.nav .links ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  margin-top: 40;
}

.nav .links ul a:hover {
  color: #45A29E;
}

.nav .links ul li {
  color: #C5C6C7;
  font-family: 'Open Sans';
  font-size: 20;
  font-weight: bolder;
  padding-right: 15px;
  padding-left: 15px;
  margin: 5px 0px;
}

.nav .links ul .contact-link {
  border: none;
  padding-right: 30px;
}

.nav .links ul .cv {
  margin: 0px;
  margin-right: 100px;
  border: 2px solid #66FCF1;
  font-weight: bolder;
  padding: 5px 20px;
  color: whitesmoke !important;
  border-radius: 2px;
}

.nav .burger {
  display: none;
}

.container {
  max-width: 1200px;
  margin: auto;
}

.main-screen {
  padding-top: 150px;
  padding-bottom: 150px;
}

.main-screen .hello-text {
  -webkit-transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
          transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  opacity: 0.5;
  width: 100%;
  text-align: left;
}

.main-screen .hello-text span {
  font-size: 60;
  font-weight: bold;
}

.main-screen .hello-text .hello-one {
  color: #66FCF1;
}

.main-screen .hello-text .hello-two {
  color: white;
}

.main-screen .main-screen-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: calc(100% - 300px);
}

.main-screen .main-screen-content .sqaures {
  display: none;
  width: 50%;
  height: calc(100% - 80px);
  margin-left: 10vw;
  margin-top: px;
}

.main-screen .main-screen-content .sqaures div {
  border-radius: 5px;
  margin-left: calc((100% - 350px) / 2);
  -webkit-box-shadow: 3px 7px 11px 0px rgba(0, 0, 0, 0.5);
  box-shadow: 3px 7px 11px 0px rgba(0, 0, 0, 0.5);
}

.main-screen .main-screen-content .sqaures .square-one {
  width: 350px;
  height: 350px;
  background-color: transparent;
  opacity: 75%;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.main-screen .main-screen-content .sqaures .square-two {
  width: 350px;
  height: 350px;
  background-color: #45A29E;
  -webkit-transform: translateY(-335px);
          transform: translateY(-335px);
  opacity: 75%;
}

.main-screen .main-screen-content .sqaures .square-three {
  width: 345px;
  height: 345px;
  background-image: url("/assets/profile.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-transform: translateY(-670px) translateX(-10px);
          transform: translateY(-670px) translateX(-10px);
}

.main-screen .main-screen-content .sqaures .square-filter {
  width: 345px;
  height: 345px;
  background-color: #66FCF1;
  opacity: 15%;
  -webkit-transform: translateY(-1015px) translateX(-10px);
          transform: translateY(-1015px) translateX(-10px);
}

.main-screen .main-screen-content .sqaures .square-filter:hover {
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  opacity: 0;
}

.main-screen .main-screen-content .details {
  margin-left: 75px;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: calc(100% - 200px);
  width: 50%;
  font-size: 20;
  font-family: 'Open Sans', sans-serif;
}

.main-screen .main-screen-content .details .details-text {
  -webkit-transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
          transition-timing-function: cubic-bezier(0.64, 0.57, 0.67, 1.53);
  -webkit-transition-duration: 0.5s;
          transition-duration: 0.5s;
  -webkit-transform: translateY(-30px);
          transform: translateY(-30px);
  opacity: 0;
  -ms-flex-line-pack: left;
      align-content: left;
  width: 100%;
  margin-top: 25px;
  color: #C5C6C7;
}

.main-screen .main-screen-content .details .details-text .university-name {
  color: #66FCF1;
}

.main-screen .main-screen-content .details .details-icons {
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin-top: 25px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main-screen .main-screen-content .details .details-icons i {
  color: white;
}

.main-screen .main-screen-content .details .details-icons i:hover {
  color: #66FCF1;
}

.about-container {
  width: 100%;
  background-color: transparent;
  margin-bottom: 50px;
}

.about-container .about-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80%;
  margin: auto;
}

.about-container .about-header .about-text {
  text-align: left;
  padding-bottom: 20px;
  margin-bottom: 125px;
  margin-top: 0;
  font-size: 60px;
  width: 100%;
  font-weight: bold;
  color: #66FCF1;
  border-bottom: 1px solid #C5C6C7;
}

.about-container .about-content .education-card {
  margin-bottom: 75px !important;
}

.about-container .about-content .tools-card {
  margin-bottom: 125px !important;
}

.about-container .about-content .card {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  opacity: 0;
  -webkit-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  margin: auto;
  margin-top: 0;
  font-family: 'Open Sans' !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.about-container .about-content .card .card-content {
  font-family: 'Open Sans';
  width: 100%;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.about-container .about-content .card .card-content .card-text {
  font-size: 30px;
  margin-bottom: 10px;
}

.about-container .about-content .card .card-content .card-details {
  width: 100%;
  text-align: center;
  color: white;
  font-family: 'Open Sans';
  font-size: 16px;
}

.about-container .about-content .card .card-content .card-details .frameworks {
  color: #45A29E;
}

.about-container .about-content .card .card-content .card-details .university-name {
  margin-bottom: 10px;
}

.about-container .about-content .card .card-content .card-details .degree-name {
  margin-bottom: 20px;
  color: #45A29E;
}

.about-container .about-content .card .card-content .card-details .degree-icon {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  font-size: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.projects-container {
  width: 100%;
  margin-bottom: 75px;
}

.projects-container button {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  height: 50px;
  width: 150px;
  margin-top: 50px;
  margin-left: calc((100% - 150px)/2);
  background-color: transparent;
  border: 5px solid #66FCF1;
  border-radius: 2px;
  font-size: 20px;
  font-weight: bold;
  color: #66FCF1;
  cursor: pointer;
  outline: none;
}

.projects-container button:hover {
  color: white;
  border-color: white;
}

.projects-container .projects-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 80%;
  margin: auto;
}

.projects-container .projects-header .projects-text {
  text-align: left;
  padding-bottom: 20px;
  margin-bottom: 75px;
  margin-top: 0;
  font-size: 60px;
  width: 100%;
  font-weight: bold;
  color: #66FCF1;
  border-bottom: 1px solid #C5C6C7;
}

.projects-container .project-cards {
  width: 100%;
}

.projects-container .project-cards .card-container {
  display: -ms-grid;
  display: grid;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
}

.projects-container .project-cards .card-container .reversed {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: reverse !important;
      -ms-flex-direction: row-reverse !important;
          flex-direction: row-reverse !important;
}

.projects-container .project-cards .card-container .reversed .card .card-header {
  width: 100% !important;
}

.projects-container .project-cards .card-container .reversed .card .card-header .card-title {
  width: 100% !important;
}

.projects-container .project-cards .card-container .reversed .card .card-header .card-title span {
  float: right;
  width: 100%;
  text-align: right !important;
}

.projects-container .project-cards .card-container .reversed .card .card-header .card-title span i {
  margin-right: 10px !important;
}

.projects-container .project-cards .card-container .reversed .card .card-text {
  text-align: right !important;
}

.projects-container .project-cards .card-container .reversed .card .card-text p {
  float: right !important;
  margin-top: 40px !important;
}

.projects-container .project-cards .card-container .reversed .card .card-footer {
  -webkit-box-orient: horizontal !important;
  -webkit-box-direction: reverse !important;
      -ms-flex-direction: row-reverse !important;
          flex-direction: row-reverse !important;
}

.projects-container .project-cards .card-container .card-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-top: 50px;
  margin-bottom: 50px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
}

.projects-container .project-cards .card-container .card-row .mineguyz {
  margin-left: 30px;
}

.projects-container .project-cards .card-container .card-row .minesweeper {
  margin-left: 30px;
}

.projects-container .project-cards .card-container .card-row .project-image {
  opacity: 0;
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
  width: 50%;
}

.projects-container .project-cards .card-container .card-row .project-image img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.projects-container .project-cards .card-container .card-row .project-image img:hover {
  -webkit-filter: none;
          filter: none;
}

.projects-container .project-cards .card-container .card-row .card {
  font-family: 'Ubuntu', sans-serif;
  -webkit-transition: 0.8s ease-in-out;
  transition: 0.8s ease-in-out;
  background-color: rgba(11, 12, 16, 0.47);
  padding: 25px;
  opacity: 0;
  width: 100%;
  max-width: 420px;
  max-height: 375px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-shadow: 3px 7px 11px 0px rgba(0, 0, 0, 0.75);
          box-shadow: 3px 7px 11px 0px rgba(0, 0, 0, 0.75);
  border-radius: 2px;
}

.projects-container .project-cards .card-container .card-row .card .card-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
}

.projects-container .project-cards .card-container .card-row .card .card-header .card-title {
  width: 80%;
  font-size: 20px;
  font-weight: bold;
  color: #66FCF1;
  width: 100%;
}

.projects-container .project-cards .card-container .card-row .card .card-header .card-title span {
  float: left;
  width: 100%;
  text-align: left;
}

.projects-container .project-cards .card-container .card-row .card .card-header .card-title span i {
  margin-right: 10px;
}

.projects-container .project-cards .card-container .card-row .card .card-header .github-icon {
  width: 20%;
  font-size: 40px;
  color: white;
  display: none;
}

.projects-container .project-cards .card-container .card-row .card .card-header .github-icon i {
  float: right;
  padding-right: 40px;
}

.projects-container .project-cards .card-container .card-row .card .card-header .github-icon i:hover {
  color: #66FCF1 !important;
}

.projects-container .project-cards .card-container .card-row .card .card-text {
  font-family: 'Open Sans';
  width: 100%;
  color: rgba(255, 255, 255, 0.8);
  text-align: left;
}

.projects-container .project-cards .card-container .card-row .card .card-text p {
  float: left;
  margin-top: 40px;
}

.projects-container .project-cards .card-container .card-row .card .card-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 40px;
  font-size: 14;
}

.projects-container .project-cards .card-container .card-row .card .card-footer .card-date {
  color: #45A29E;
}

.projects-container .project-cards .card-container .card-row .card .card-footer .card-date .technology {
  margin-right: 10px;
}

.projects-container .project-cards .card-container .card-row .card .card-footer .card-date .technology i {
  margin-right: 2px;
}

.projects-container .project-cards .card-container .card-row .card:hover {
  -webkit-transform: scale(1.05, 1.05) !important;
          transform: scale(1.05, 1.05) !important;
}

.contact-container {
  width: 100%;
  background-color: transparent;
  margin-bottom: 75px;
}

.contact-container .contact-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 80%;
  margin: auto;
}

.contact-container .contact-header .contact-text {
  text-align: left;
  padding-bottom: 20px;
  margin-bottom: 75px;
  margin-top: 0;
  font-size: 60px;
  width: 100%;
  font-weight: bold;
  color: #66FCF1;
  border-bottom: 1px solid #C5C6C7;
}

.contact-container .contact-form {
  -webkit-transform: translateY(50px);
          transform: translateY(50px);
  font-family: 'Open Sans', sans-serif;
  width: 80%;
  margin-left: 10%;
  -webkit-transition: 1s ease-in-out;
  transition: 1s ease-in-out;
  opacity: 0;
}

.contact-container .contact-form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contact-container .contact-form form label {
  font-size: 25px;
  color: white;
  font-weight: bold;
  padding-bottom: 20px;
}

.contact-container .contact-form form .change-padding {
  padding-top: 35px;
}

.contact-container .contact-form form input {
  font-family: 'Open Sans';
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  height: 60px;
  background-color: rgba(11, 12, 16, 0.47);
  border-radius: 2px;
  color: white;
  font-size: 15px;
  padding: 20px;
  border: 2px solid transparent;
}

.contact-container .contact-form form input:focus {
  border: 2px solid white;
  outline: none;
}

.contact-container .contact-form form textarea {
  font-weight: bold;
  font-family: 'Open Sans';
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  height: 300px;
  max-width: 100%;
  resize: none;
  background-color: rgba(11, 12, 16, 0.47);
  border: 2px solid transparent;
  border-radius: 2px;
  color: white;
  font-size: 15px;
  padding: 20px;
}

.contact-container .contact-form form textarea:focus {
  border: 2px solid white;
  outline: none;
}

.contact-container .contact-form form button {
  -webkit-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
  height: 50px;
  width: 150px;
  margin: auto;
  margin-top: 40px;
  background-color: transparent;
  border: 2px solid #66FCF1;
  border-radius: 2px;
  font-size: 25px;
  font-weight: bold;
  color: #66FCF1;
  cursor: pointer;
  outline: none;
}

.contact-container .contact-form form button:hover {
  color: white;
  border-color: white;
}

footer {
  font-family: 'Open Sans';
  background-color: rgba(0, 0, 0, 0.513);
  width: 100%;
  height: 100px;
  font-size: 15px;
  padding-top: 50px !important;
  text-align: center;
}

footer .copyright {
  color: #C5C6C7;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 20px;
}

footer .github-view {
  font-size: 15px;
  color: #66FCF1;
  margin-bottom: 20px;
}

footer .commit-count {
  color: #C5C6C7;
  font-size: 15px;
  font-weight: bold;
  margin-bottom: 20px;
}

footer .commit-count img {
  color: white;
  width: 15px;
  -webkit-transform: translateY(3px);
          transform: translateY(3px);
}
/*# sourceMappingURL=desktopStyle.css.map */