@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&family=Ubuntu:wght@700&display=swap');

html{
    scroll-behavior: smooth;
}

.more {
    display: none;
}

.disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 50%;
}  

body {
    margin: 0;
    background-color: #071629;
    font-family: 'Ubuntu', sans-serif;

    a {
        text-decoration: none;
        color: whitesmoke;
    }
}

.fade {
   opacity: 1 !important;
}

.invalid{
    border: 2px solid red !important;
    border-color: red !important;
}

.body-scroll-lock {
    overflow: hidden;
}

.menu {
    display: none;
}

.boxShadow {
    -webkit-box-shadow: 3px 7px 11px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 7px 11px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 7px 11px 0px rgba(0,0,0,0.75);
}

.nav {
    transition: 0.2s ease-in-out;
    animation-delay: 2.5s;
    display: flex;
    background-color: rgba($color: #071629, $alpha: 0.80);
    width: 100vw;
    opacity: 0;
    height: 100px;
    position: fixed;
    top: 0;
    z-index: 999;

    .logo {
        height: 100px;
        width: 50%;
        display: flex;
        flex-direction: column;

        p {
            margin-left: 100px;
            margin-top: 30;
            font-weight: bold;
            font-size: 40;
            color: white;
            font-stretch: extra-condensed;
        }
        
    }

    .links {
        height: 100px;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        ul {
            display: flex;
            list-style: none;
            margin-top: 40;

            li {
                color: #C5C6C7;
                font-family: 'Share Tech', sans-serif;
                font-size: 20;
                font-weight: bolder;
                padding-right: 15px;
                padding-left: 15px;
                border-right: 3px solid #C5C6C7;
                margin: 5px 0px;
            }

            .contact-link {
                border: none;
                padding-right: 30px;
            }

            .cv {
                margin: 0px;
                margin-right: 100px;
                border: 2px solid #66FCF1;
                font-weight: bolder;
                padding: 5px 20px;
                color: whitesmoke !important;
                border-radius: 5px;
            }

        }
    }

    .burger {
        display: none;
    }
}

.container {
    max-width: 1200px;
    margin: auto;
}

.main-screen {

    padding-top: 150px;
    padding-bottom: 150px;

    .hello-text {

        width: 100%;
        height: 100px;
        text-align: center;

        span {
            font-size: 60;
            font-family: "Helvetica Neue";;
            font-weight: bold;
        }
    
        .hello-one {
            color: #66FCF1;
        }
        
        .hello-two {
            color: white;
        }
    }

    .main-screen-content {
        display: flex;
        width: 100%;
        height: calc(100% - 300px);

        .sqaures {
            width: 40%;
            margin-right: 5%;
            margin-left: 5%;
            height: calc(100% - 80px);
            padding-top: 80px;  
            
            div {
                border-radius: 5px;
                margin-left: calc((100% - 350px) / 2);
                -webkit-box-shadow: 3px 7px 11px 0px rgba(0,0,0,0.5);
                -moz-box-shadow: 3px 7px 11px 0px rgba(0,0,0,0.5);
                box-shadow: 3px 7px 11px 0px rgba(0,0,0,0.5); 
            }
            
            .square-one {
                width: 350px;
                height: 350px;
                background-color: transparent;
                opacity: 75%;
                box-shadow: none;
                
            }

            .square-two {
                width: 350px;
                height: 350px;
                background-color: #45A29E;
                transform: translateY(-335px) translateX(-15px);
                opacity: 75%;
            }

            .square-three {
                width: 345px;
                height: 345px;
                background-image: url("/assets/profile.jpg");
                background-position: center; 
                background-repeat: no-repeat; 
                background-size: cover; 
                transform: translateY(-670px) translateX(-30px);
            }

            .square-filter {
                width: 345px;
                height: 345px;
                background-color: #66FCF1;
                opacity:15%;
                transform: translateY(-1015px) translateX(-30px);
            }

            .square-filter:hover {
                transition: 1s ease-in-out;
                opacity: 0;
            }
            
        } 
        
        .details {
            display: flex;
            flex-direction: column;
            height: calc(100% - 200px);
            padding-top: 175px;  
            width: 50%;
            font-size: 20;
            margin-left: 5%;
            margin-right: 2.5%;
            font-family: 'Share Tech', sans-serif;

            .details-text {
                align-content: center;
                width: 100%;
                color: #C5C6C7;
                

                .university-name {
                    color: #66FCF1;
                }
            }

            .details-icons {
                width: 75% !important;
                margin-left: 12.5% !important;
                display: flex;
                justify-content: space-evenly;

                i {
                    color: white;
                }

                i:hover {
                    color: #66FCF1;
                }
            }
        } 
    }
}

.about-container {
    width: 100%;
    background-color: transparent;

    .about-header {
        display: flex;
        flex-direction: row;
        width: 80%;
        margin: auto;

        .about-text {
            text-align: center;
            margin: auto;
            padding-bottom: 20px;
            margin-bottom: 100px;
            font-size: 60px;
            width: 350px;
            font-weight: bold;
            color: #66FCF1 ;
            border-bottom: 7px solid white;
        }
    }

    .about-content {

        .card-one {
            .card-text {
                text-align: left;
            }
        }

        .card-two {
            flex-direction: row-reverse;

            .card-text {
                text-align: right !important;
            }
        }

        .card {
            opacity: 0;
            transition: all 1s ease-in-out;
            margin: auto;
            margin-top: 50px !important;
            margin-bottom: 50px !important;
            width: 80%;
            height: 200px;
            display: flex;

            .card-text {
                font-size: 40px;
                font-weight: bold;
                color: white;
                width: 30%;
               
                i {
                    color: #66FCF1;
                }
            }

            .card-title {
                font-size: 30px;
                font-weight: bold;
                color: white;
                width: 100%;
                text-align: center;
            }

            .card-content {
                font-family: 'Ubuntu', sans-serif;
                width:  70%;
                height: 100px;
                padding-top: 40px;
                padding-bottom: 40px;
                background-color: #161617;
                border-radius: 5px;
                -webkit-box-shadow: 3px 7px 11px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 3px 7px 11px 0px rgba(0,0,0,0.75);
                box-shadow: 3px 7px 11px 0px rgba(0,0,0,0.75);

                .university-name {
                    margin-left: 20%;
                    font-size: 25;
                    font-weight: bold;
                    color: #45A29E;
                }

                .degree-name {
                    margin-right: 20%;
                    font-size: 25;
                    float: right;
                    font-weight: bold;
                    color: #C5C6C7;
                }

                .skills-list {

                    ul {
                        list-style: none;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        padding: 0;

                        li {
                            padding: 5px 15px 5px 15px;
                            background-color: white;
                            font-size: 16;
                            color: #45A29E;
                            border-radius: 5px;
                            border: 2px solid #66FCF1;
                            margin-right: 3px;
                            margin-left: 3px;
                        }
                    }
                }
            }
        }
    }
}

.projects-container {
    
    width: 100%;
    //background-color: red;
    margin-bottom: 100px;

    button {
        transition: 0.5s ease-in-out;
        height: 50px;
        width: 150px;
        margin-top: 50px;
        margin-left: calc((100% - 150px)/2);
        background-color: transparent;
        border: 5px solid #66FCF1;
        border-radius: 2px;
        font-size: 20px;
        font-weight: bold;
        color: #66FCF1;
        cursor: pointer;
        outline: none;
        
    }

    button:hover {
        color: white;
        border-color: white;
    }

    .projects-header {
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: auto;

        .projects-text {
            text-align: center;
            margin: auto;
            padding-bottom: 20px;
            margin-bottom: 50px;
            font-size: 60px;
            width: 350px;
            max-width: 100%;
            font-weight: bold;
            color: #66FCF1 ;
            border-bottom: 7px solid white;
        }
    }

    .project-cards {
        width: 100%;
        margin-top: 50px;

        .card-container {
            display: grid;
            grid-template-columns: 480px 480px;
            grid-auto-rows: 320px;
            grid-gap: 30px;
            width: fit-content;
            margin: auto;
            
            .card {
                font-family: 'Ubuntu', sans-serif;                
                transition: 0.8s ease-in-out;
                transform: translateY(50px);
                opacity: 0;
                width: 100%;
                height: 100%;
                background-color:#010c14;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                // -webkit-box-shadow: 3px 7px 11px 0px rgba(0,0,0,0.75);
                // -moz-box-shadow: 3px 7px 11px 0px rgba(0,0,0,0.75);
                // box-shadow: 3px 7px 11px 0px rgba(0,0,0,0.75);
                border-radius: 2px;

                .card-header {
                    display: flex;
                    height: calc(20% - 20px);
                    
                    .card-title {
                        width: 80%;
                        font-size: 20px;
                        font-weight: bold;
                        color: #66FCF1;
                        
                        span {
                            float: left;
                            padding-left: 40px;
                            margin-top: 40px;

                            i {
                                margin-right: 10px;
                            }
                        }
                        
                    }

                    .github-icon {
                        width: 20%;
                        font-size: 40px;
                        color: white;

                        i {
                            float: right;
                            padding-right: 40px;
                            margin-top: 28px;
                        }

                        i:hover {
                            color: #66FCF1 !important;
                        }
                    }
                }

                .card-text {
                    font-family: 'Open Sans';
                    height: calc(80% - 80px);
                    width: 100%; 
                    color: rgba($color:#FFFFFF, $alpha: 0.80);

                    p {
                        margin: 40px;
                        margin-top: 40px;
                    }
                }

                .card-footer {
                    display: flex;
                    justify-content: space-between;
                    margin: 40px;
                    font-size: 14;

                    .card-date {
                        color: #45A29E;

                        .technology {
                            margin-right: 10px;

                            i {
                                margin-right: 2px;
                            }
                        }
                    }
                }
            }

            .card:hover {
                transform: scale(1.05, 1.05) !important;
            }
        }

    }
}

.contact-container {
    width: 100%;
    background-color: transparent;
    margin-bottom: 100px;

    .contact-header {
        display: flex;
        flex-direction: row;
        width: 80%;
        margin: auto;

        .contact-text {
            text-align: center;
            margin: auto;
            padding-bottom: 20px;
            margin-bottom: 50px;
            font-size: 60px;
            width: 350px;
            font-weight: bold;
            color: #66FCF1 ;
            border-bottom: 7px solid white;
        }
    }

    .contact-form {
        transform: translateY(50px);
        font-family: 'Share Tech', sans-serif;
        width: 80%;
        margin-left: 10%;
        transition: 1s ease-in-out;
        opacity: 0;

        form {
            display: flex;
            flex-direction: column;

            label {
                font-size: 25px;
                color: white;
                font-weight: bold;
                padding-bottom: 15px;
                padding-top: 15px;
            }

            input {
                transition: 0.5s ease-in-out;
                height: 60px;
                background-color: rgba(11, 12, 16, 0.47);
                border-radius: 2px;
                color: white;
                font-size: 18px;
                font-weight: bold;
                padding: 20px;
                border: 2px solid transparent;
            }

            input:focus {
                border: 2px solid white;
                outline: none;
            }

            textarea {
                transition: 0.5s ease-in-out;
                height: 300px;
                max-width: 100%;
                resize: none;
                background-color: rgba(11, 12, 16, 0.47);
                border: 2px solid transparent;
                border-radius: 2px;
                color: white;
                font-family: Helvetica;
                font-size: 18px;
                font-weight: bold;
                padding: 20px;
            }

            textarea:focus {
                border: 2px solid white;
                outline: none;
            }

            button {
                transition: 0.5s ease-in-out;
                height: 70px;
                width: 250px;
                margin: auto;
                margin-top: 40px;
                background-color: transparent;
                border: 5px solid #66FCF1;
                border-radius: 2px;
                font-size: 30px;
                font-weight: bold;
                color: #66FCF1;
                cursor: pointer;
                outline: none;
            }

            button:hover {
                color: white;
                border-color: white;
            }
        }
    }
}

footer {
    font-family: 'Share Tech', sans-serif;
    background-color: rgba(0, 0, 0, 0.513);
    width: 100%;
    height: 150px;
    padding-top: 50px !important;
    text-align: center;

    .copyright {
        color: #C5C6C7;
        font-size: 20px;
        font-weight: bold;
        
    }

    .github-view {
        font-size: 20px;
        color: #66FCF1;
        text-decoration: underline;
    }

    .commit-count {
        color: #C5C6C7;
        font-size: 20px;
        font-weight: bold;

        img {
            color: white;
            width: 20px;
            transform: translateY(3px);
        }
    }
}   