.loader {
    position: fixed;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background-color: #071629;
}

.loader-wrapper {
  display: flex;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  align-items: center;
  justify-content: center;  
  align-items: center;
  margin-top: calc((100vh - 300px) / 2);
  height: 200px;
}

.ball {
  width: 70px;
  height: 70px;
  border-radius: 35px;
  margin: 0 10px;
  
  animation: 2s bounce ease infinite;
}

.blue {
  background-color: white;
}

.red {
  background-color: white;
  animation-delay: .25s;
}

.yellow {
  background-color: white;
  animation-delay: .5s;
}

.green {
  background-color: white;
  animation-delay: .75s;
}
