@media screen and (max-width: 1100px) {
    .nav {
        transition: 0.2s ease-in-out;
        height: 100px;
        width: 100vw;
        margin: 0;
    }

    .main-screen {
        .main-screen-content {
            height: 100vh;

            .sqaures {
                div {
                    border-radius: 25px;
                    margin-left: calc((100% - 350px) / 2);
                    -webkit-box-shadow: 3px 7px 11px 0px rgba(0,0,0,0.5);
                    -moz-box-shadow: 3px 7px 11px 0px rgba(0,0,0,0.5);
                    box-shadow: 3px 7px 11px 0px rgba(0,0,0,0.5); 
                }
                
                .square-one {
                    width: 250px;
                    height: 250px;
                    background-color: white;
                    transform: translateY(-20px) translateX(20px);
                    opacity: 75%;
                    
                }
    
                .square-two {
                    width: 250px;
                    height: 250px;
                    background-color: #45A29E;
                    transform: translateY(-260px) translateX(10px);
                    opacity: 75%;
                }
    
                .square-three {
                    width: 250px;
                    height:250px;
                    background-image: url("/assets/profile.jpg");
                    background-position: center; 
                    background-repeat: no-repeat; 
                    background-size: cover; 
                    transform: translateY(-500px);
                }
    
                .square-filter {
                    width: 250px;
                    height: 250px;
                    background-color: #66FCF1;
                    opacity:15%;
                    transform: translateY(-750px);
                }
            } 
        }
    }

    .container {
        width: 100vw;
        margin: 0;
    }

    .nav-displayed {
        background-color: black;
        position: fixed;
    }

    .menu-displayed {
        //animation: fadeIn 0.25s;
        display: flex;
        flex-direction: column;
        position: fixed;
        z-index: 99;
        margin-top: 100px;
        background-color: black;
        width: 100vw;
        height: 100vh;
        
        ul {
            list-style: none;
            align-self: center;
            padding: 0;
            width: 100%;

            li {
                color: #C5C6C7;
                font-weight: bold;
                font-size: 30;
                padding: 30 0;
                width: 100%;
                text-align: center;
                cursor: pointer;
            }

            .cv {
                width: calc(200px);
                padding: 15 0;
                margin-top: 15;
                margin-left: calc((100% - 200px - 2px) / 2);
                border: 2px solid #66FCF1;
                font-weight: bolder;
                color: whitesmoke !important;
                border-radius: 5px;
            }
        }
    }

    .nav {
        .logo {
            p {
                margin-left: 50px;
                color: white;
            }
        }

        .links {
            display: none;
        }

        .burger {
            padding-top: 45px;
            height: 100px;
            padding-right: 50px;
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            div {
                transition: all .2s ease-in-out;
                height: 2px;
                width: 40px;
                background-color: #66FCF1;
                margin: 5px;
            }

            .line-one-active{
                transform: translateY(5px) rotate(calc(405deg + 360deg));
            }

            .line-two-active{
                transform: translateY(-7px) rotate(calc(315deg + 360deg));
            }
        }
    }

    .main-screen {
        width: 95%;
        height: 100vh !important;
        margin-bottom: 50;
        padding-bottom: 0;
    
        .hello-text {
            span {
                font-size: 45px;
            }
        }

        .details-text {
            font-size: 16px;
        }

        .main-screen-content {
            width: 90%;
            max-width: 600px;
            margin: auto;
            flex-direction: column;
           
            .sqaures {
                width: 100%;
                margin: 0;
                padding-top: 0;
                height: 250;

                div {
                    margin: 0;
                    margin-left: calc((100% - 250px) / 2)
                }
            }

            .details {
                padding: 0px;
                margin: 0px;
                width: 90%;
                margin-left: 5%;

                .details-text {
                    margin: 0;
                    padding-top: 50px;
                    padding-bottom: 25px;
                    
                    
                    p {
                        margin: 0;
                        width: 100%;
                    }
                }

                .details-icons {
                    margin-left: 0;
                    width: 100%;
                    max-width: 500px;
                    display: flex;
                    justify-content: space-evenly;

                }
            }
        }
    }

    .about-container {

       .about-header {
           width: 90vw;
       } 

        .education-card {
            width: 90vw !important;
            max-width: 480px !important;

            .card-content {
                padding-top: 20px !important;
                padding-bottom: 20px !important;
                flex-direction: column !important;
                height: fit-content !important;

                .card-text {
                    width: 100% !important;
                    margin-bottom: 25px !important;
                }

                .card-details {
                    width: 100% !important;
                }
            }   
        }
    }

    .projects-container {

        margin-top: 100px;
    
        .projects-header {
            .projects-text {
                font-size: 50px !important;
            }
            width: 90vw;
        }
    
        .project-cards {
            
            
            .card-container {
                grid-template-columns: 90vw !important;
                grid-auto-rows: minmax(350px, auto);
                grid-gap: 0px;
                grid-row-gap: 30px;

                .card-row {
                    margin-top: 25px;
                margin-bottom: 25px;

                    .project-image {
                        display: none;
                    }

                    .card {
                        max-width: 600px;
                        margin-left: auto;
                        margin-right: auto;
                            .card-title {
                                font-size: 16;

                                span {
                                    text-align: left !important;
                                }
                            }
                        }

                        .card-text {
                            margin: 5px;
                            text-align: left !important;

                        }
    
                        .card-date {
                            font-size: 12;
                        }

                        .card-footer {
                            flex-direction: row !important;
                        }
                    }
                }
            }
        }
    }

    .contact-container {
        
        .contact-header {
            width: 90vw;
        }

        .contact-form {
            width: 90vw !important;
            margin-left: 5vw !important;
            margin-right: 5vw !important;
        }
    }


    .ball {
        width: 50px !important;
        height: 50px !important;
    }

}
