@import url('https://fonts.googleapis.com/css2?family=Share+Tech&display=swap');

html{
    scroll-behavior: smooth;
}

.disabled {
    cursor: not-allowed;
    pointer-events: none;
    opacity: 50%;
}  

body {
    margin: 0;
    background-color: #1F2833;
    font-family: "Helvetica Neue";

    a {
        text-decoration: none;
        color: whitesmoke;
    }
}

.fade {
   opacity: 1 !important;
}

.invalid{
    border: 2px solid red !important;
    border-color: red !important;
}

.body-scroll-lock {
    overflow: hidden;
}

.menu {
    display: none;
}

.nav {
    //transition: 2s ease-in-out;
    animation-delay: 2.5s;
    display: flex;
    background-color: #1F2833;
    width: 100vw;
    opacity: 0;
    height: 100px;
    -webkit-box-shadow: 3px 7px 11px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 7px 11px 0px rgba(0,0,0,0.75);
    box-shadow: 3px 7px 11px 0px rgba(0,0,0,0.75);

    .logo {
        height: 100px;
        width: 50%;
        display: flex;
        flex-direction: column;

        p {
            margin-left: 100px;
            margin-top: 30;
            font-weight: bold;
            font-size: 40;
            color: white;
            font-stretch: extra-condensed;
        }
        
    }

    .links {
        height: 100px;
        width: 50%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        ul {
            display: flex;
            list-style: none;
            margin-top: 40;

            li {
                color: #C5C6C7;
                font-family: 'Share Tech', sans-serif;
                font-size: 20;
                font-weight: bolder;
                padding-right: 15px;
                padding-left: 15px;
                border-right: 3px solid #C5C6C7;
                margin: 5px 0px;
            }

            .contact-link {
                border: none;
                padding-right: 30px;
            }

            .cv {
                margin: 0px;
                margin-right: 100px;
                border: 2px solid #66FCF1;
                font-weight: bolder;
                padding: 5px 20px;
                color: whitesmoke !important;
                border-radius: 5px;
            }

        }
    }

    .burger {
        display: none;
    }
}

.container {
    max-width: 1200px;
    margin: auto;
}

.main-screen {

    padding-top: 100px;

    .hello-text {

        width: 100%;
        height: 100px;
        text-align: center;

        span {
            font-size: 60;
            font-family: "Helvetica Neue";;
            font-weight: bold;
        }
    
        .hello-one {
            color: #66FCF1;
        }
        
        .hello-two {
            color: white;
        }
    }

    .main-screen-content {
        display: flex;
        width: 100%;
        height: calc(100% - 300px);
        background-color: #1F2833;

        .sqaures {
            width: 40%;
            margin-right: 5%;
            margin-left: 5%;
            height: calc(100% - 80px);
            background-color: #1F2833;
            padding-top: 80px;  
            

            div {
                border-radius: 25px;
                margin-left: calc((100% - 350px) / 2);
                -webkit-box-shadow: 3px 7px 11px 0px rgba(0,0,0,0.5);
                -moz-box-shadow: 3px 7px 11px 0px rgba(0,0,0,0.5);
                box-shadow: 3px 7px 11px 0px rgba(0,0,0,0.5); 
            }
            
            .square-one {
                width: 350px;
                height: 350px;
                background-color: white;
                opacity: 75%;
                
            }

            .square-two {
                width: 350px;
                height: 350px;
                background-color: #45A29E;
                transform: translateY(-335px) translateX(-15px);
                opacity: 75%;
            }

            .square-three {
                width: 345px;
                height: 345px;
                background-image: url("/assets/profile.jpg");
                background-position: center; 
                background-repeat: no-repeat; 
                background-size: cover; 
                transform: translateY(-670px) translateX(-30px);
            }

            .square-filter {
                width: 345px;
                height: 345px;
                background-color: #66FCF1;
                opacity:15%;
                transform: translateY(-1015px) translateX(-30px);
            }

            .square-filter:hover {
                transition: 1s ease-in-out;
                opacity: 0;
            }
            
        } 
        
        .details {
            display: flex;
            flex-direction: column;
            height: calc(100% - 200px);
            padding-top: 175px;  
            width: 50%;
            font-size: 20;
            margin-left: 5%;
            margin-right: 2.5%;
            font-family: 'Share Tech', sans-serif;

            .details-text {
                align-content: center;
                width: 100%;
                color: #C5C6C7;
                

                .university-name {
                    color: #66FCF1;
                }
            }

            .details-icons {
                width: 75% !important;
                margin-left: 12.5% !important;
                display: flex;
                justify-content: space-evenly;

                i {
                    color: white;
                }

                i:hover {
                    color: #66FCF1;
                }
            }

        }
        
    }
    
}

.about-container {
    width: 100%;
    //height: 100vh;
    background-color: transparent;

    .about-header {
        display: flex;
        flex-direction: row;
        width: 100%;

        .about-text {
            text-align: center;
            margin: auto;
            padding-bottom: 20px;
            margin-bottom: 75px;
            font-size: 60px;
            width: 350px;
            font-weight: bold;
            color: #66FCF1 ;
            border-bottom: 7px solid white;
        }
    }

    .about-content {

        .card-one {
            .card-text {
                text-align: left;
            }
        }

        .card-two {
            flex-direction: row-reverse;

            .card-text {
                text-align: right !important;
            }
        }

        .card {
            opacity: 0;
            transition: all 1s ease-in-out;
            margin: auto;
            margin-top: 50px !important;
            margin-bottom: 50px !important;
            width: 80%;
            height: 200px;
            display: flex;

            .card-text {
                font-size: 40px;
                font-weight: bold;
                color: white;
                width: 30%;
               
                i {
                    color: #66FCF1;
                }
            }

            .card-title {
                font-size: 30px;
                font-weight: bold;
                color: white;
                width: 100%;
                text-align: center;
            }

            .card-content {
                font-family: 'Share Tech', sans-serif;
                width:  70%;
                height: 100px;
                padding-top: 40px;
                padding-bottom: 40px;
                background-color: #2A3645;
                border-radius: 10px;
                -webkit-box-shadow: 3px 7px 11px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 3px 7px 11px 0px rgba(0,0,0,0.75);
                box-shadow: 3px 7px 11px 0px rgba(0,0,0,0.75);

                .university-name {
                    margin-left: 20%;
                    font-size: 25;
                    font-weight: bold;
                    color: #45A29E;
                }

                .degree-name {
                    margin-right: 20%;
                    font-size: 25;
                    float: right;
                    font-weight: bold;
                    color: #C5C6C7;
                }

                .skills-list {

                    ul {
                        list-style: none;
                        display: flex;
                        flex-direction: row;
                        justify-content: center;
                        padding: 0;

                        li {
                            padding: 5px 15px 5px 15px;
                            background-color: white;
                            font-size: 16;
                            color: #45A29E;
                            border-radius: 10px;
                            border: 2px solid #66FCF1;
                            margin-right: 5px;
                            margin-left: 5px;
                        }
                    }
                }
            }
        }
    }
}

.projects-container {
    
    width: 100%;
    //background-color: red;
    margin-bottom: 100px;

    .projects-header {
        display: flex;
        flex-direction: column;
        width: 100%;

        .projects-text {
            text-align: center;
            margin: auto;
            padding-bottom: 20px;
            margin-bottom: 50px;
            font-size: 60px;
            width: 350px;
            max-width: 100%;
            font-weight: bold;
            color: #66FCF1 ;
            border-bottom: 7px solid white;
        }
    }

    .project-cards {
        width: 100%;

        .card {
            opacity: 0;
            transition: all 1s ease-in-out;
            margin: auto;
            margin-top: 50px !important;
            margin-bottom: 50px !important;
            width: 100%;

            height: 300px;

            .card-content {
                
                .card-date {
                    width: 100%;
                    text-align: right;

                    p {
                        margin: 0;
                        margin-top: 10px;
                        margin-right: 20px;
                        color: #66fcf2;
                    }
                }
                
                .card-title {
                    font-size: 40px;
                    font-weight: bold;
                    color: white;
                    width: 50%;
                    text-align: center;
                    margin-bottom: 10px;
                }

                .github-link {
                    font-size: 30px;
                    color: #45A29E;
                    text-decoration: underline;
                    text-align: center;
                    width: 50%;
                    margin-bottom: 20px;
                }

                .used-tech {
                    list-style: none;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    padding: 0;
                    width: 50%;
                    
                    .tool {
                        padding: 5px 15px 5px 15px;
                        background-color: white;
                        font-size: 16;
                        color: #45A29E;
                        border-radius: 10px;
                        border: 2px solid #66FCF1;
                        margin-right: 5px;
                        margin-left: 5px;
                    }
                }

                padding: 10px;
                font-family: 'Share Tech', sans-serif;
                width:  75%;
                height: 200px;
                margin: auto;
                background-color: #2A3645;
                border-radius: 10px;
                -webkit-box-shadow: 3px 7px 11px 0px rgba(0,0,0,0.75);
                -moz-box-shadow: 3px 7px 11px 0px rgba(0,0,0,0.75);
                box-shadow: 3px 7px 11px 0px rgba(0,0,0,0.75);

            }

            // .reportcard {
            //     background-image: url('https://www.portalguard.com/blog/wp-content/uploads/2014/06/A+1.jpg');
            // }

            // .shredr {
            //     background-image: url('/assets/shredr.png');
            // }

            // .minesweeper {
            //     background-image: url('https://www.pcgamesn.com/wp-content/uploads/2020/05/minesweeper-head-900x506.jpg');
            // }

            .card-picture {

                height: fit-content;
                background-position: center; 
                background-repeat: no-repeat; 
                background-size: cover; 
                background-clip: content-box;
                //background-color:rgba(102, 252, 242, 0.47);
                width: 40%;
                margin-left: 52%;
                transform: translateY(-150px);
                border-radius: 10px;

                .card-picture-filter {
                    transition: 0.5s ease-in-out;
                    font-family: 'Share Tech', sans-serif;
                    background-color: rgba(11, 12, 16, 0.47);
                    width: 100%;
                    height: 100%;
                    border-radius: 10px;
                    opacity: 1;
                    color: white;
                    border: 5px solid #45A29E;
                    text-align: left;
                    font-weight: bold;

                    .details {

                        .details-header {
                            font-size: 30px;
                            margin-top: 10px;
                            margin-bottom: 10px;
                            color: #45A29E;
                        }

                        padding: 20px;
                    }

                }

                .card-picture-filter:hover {
                    
                }
            }
        }
    }
}

.contact-container {
    width: 100%;
    background-color: transparent;
    margin-bottom: 100px;

    .contact-header {
        display: flex;
        flex-direction: row;
        width: 100%;

        .contact-text {
            text-align: center;
            margin: auto;
            padding-bottom: 20px;
            margin-bottom: 50px;
            font-size: 60px;
            width: 350px;
            font-weight: bold;
            color: #66FCF1 ;
            border-bottom: 7px solid white;
        }
    }

    .contact-form {
        font-family: 'Share Tech', sans-serif;
        width: 80%;
        margin-left: 10%;
        transition: 2s ease-in-out;
        opacity: 0;

        form {
            display: flex;
            flex-direction: column;

            label {
                font-size: 25px;
                color: white;
                font-weight: bold;
                padding-bottom: 15px;
                padding-top: 15px;
            }

            input {
                transition: 0.5s ease-in-out;
                height: 60px;
                background-color: rgba(11, 12, 16, 0.47);
                border-radius: 10px;
                color: white;
                font-size: 18px;
                font-weight: bold;
                padding: 20px;
                border: 2px solid transparent;
            }

            input:focus {
                border: 2px solid white;
                outline: none;
            }

            textarea {
                transition: 0.5s ease-in-out;
                height: 300px;
                max-width: 100%;
                resize: none;
                background-color: rgba(11, 12, 16, 0.47);
                border: 2px solid transparent;
                border-radius: 10px;
                color: white;
                font-family: Helvetica;
                font-size: 18px;
                font-weight: bold;
                padding: 20px;
            }

            textarea:focus {
                border: 2px solid white;
                outline: none;
            }

            button {
                transition: 0.5s ease-in-out;
                height: 70px;
                width: 250px;
                margin: auto;
                margin-top: 40px;
                background-color: transparent;
                border: 5px solid #66FCF1;
                border-radius: 10px;
                font-size: 30px;
                font-weight: bold;
                color: #66FCF1;
                cursor: pointer;
                outline: none;
            }

            button:hover {
                color: white;
                border-color: white;
            }
        }
    }
}

footer {
    font-family: 'Share Tech', sans-serif;
    background-color: rgba(0, 0, 0, 0.513);
    width: 100%;
    height: 150px;
    padding-top: 50px !important;
    text-align: center;

    .copyright {
        color: #C5C6C7;
        font-size: 20px;
        font-weight: bold;
        
    }

    .github-view {
        font-size: 20px;
        color: #66FCF1;
        text-decoration: underline;
    }

}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@media screen and (max-width: 1000px) {

    .nav {
        transition: 0.2s ease-in-out;
    }

    .main-screen {
        .main-screen-content {
            height: fit-content;

            .sqaures {
                div {
                    border-radius: 25px;
                    margin-left: calc((100% - 350px) / 2);
                    -webkit-box-shadow: 3px 7px 11px 0px rgba(0,0,0,0.5);
                    -moz-box-shadow: 3px 7px 11px 0px rgba(0,0,0,0.5);
                    box-shadow: 3px 7px 11px 0px rgba(0,0,0,0.5); 
                }
                
                .square-one {
                    width: 250px;
                    height: 250px;
                    background-color: white;
                    transform: translateY(-20px) translateX(20px);
                    opacity: 75%;
                    
                }
    
                .square-two {
                    width: 250px;
                    height: 250px;
                    background-color: #45A29E;
                    transform: translateY(-260px) translateX(10px);
                    opacity: 75%;
                }
    
                .square-three {
                    width: 250px;
                    height:250px;
                    background-image: url("/assets/profile.jpg");
                    background-position: center; 
                    background-repeat: no-repeat; 
                    background-size: cover; 
                    transform: translateY(-500px);
                }
    
                .square-filter {
                    width: 250px;
                    height: 250px;
                    background-color: #66FCF1;
                    opacity:15%;
                    transform: translateY(-750px);
                }
            } 
        }
    }

    .container {
        width: 100vw;
        margin: 0;
    }

    .nav-displayed {
        background-color: black;
        position: fixed;
    }

    .menu-displayed {
        //animation: fadeIn 0.25s;
        display: flex;
        flex-direction: column;
        position: fixed;
        z-index: 99;
        margin-top: 100px;
        background-color: black;
        width: 100vw;
        height: 100vh;
        
        ul {
            list-style: none;
            align-self: center;
            padding: 0;
            width: 100%;

            li {
                color: #C5C6C7;
                font-weight: bold;
                font-size: 30;
                padding: 30 0;
                width: 100%;
                text-align: center;
                cursor: pointer;
            }

            .cv {
                width: calc(200px);
                padding: 15 0;
                margin-top: 15;
                margin-left: calc((100% - 200px - 2px) / 2);
                border: 2px solid #66FCF1;
                font-weight: bolder;
                color: whitesmoke !important;
                border-radius: 5px;
            }
        }
    }

    .nav {
        .logo {
            p {
                margin-left: 50px;
                color: white;
            }
        }

        .links {
            display: none;
        }

        .burger {
            padding-top: 45px;
            height: 100px;
            padding-right: 50px;
            width: 50%;
            display: flex;
            flex-direction: column;
            align-items: flex-end;

            div {
                transition: all .2s ease-in-out;
                height: 2px;
                width: 40px;
                background-color: whitesmoke;
                margin: 5px;
            }

            .line-one-active{
                transform: translateY(5px) rotate(45deg);
            }

            .line-two-active{
                transform: translateY(-7px) rotate(-45deg);
            }
        }
    }

    .main-screen {
        width: 100%;
        margin-bottom: 0;
        .hello-text {
            span {
                font-size: 45px;
            }
        }

        .main-screen-content {
            width: 100%;
            flex-direction: column;
           
            .sqaures {
                width: 100%;
                margin: 0;
                padding-top: 0;
                height: 250;

                div {
                    margin: 0;
                    margin-left: calc((100% - 250px) / 2)
                }
            }

            .details {
                padding: 0px;
                margin: 0px;
                width: 100%;

                .details-text {
                    margin: 0;
                    padding-top: 50px;
                    padding-bottom: 25px;
                    width: 90%;
                    margin-left: 5%;
                    
                    p {
                        margin: 0;
                        width: 100%;
                    }
                }

                .details-icons {
                    width: 75% !important;
                    margin-left: 12.5% !important;
                    text-align: center;
            
                    i {
                        margin: 20px !important;
                    }
                }
            }
        }
    }

    .about-container {
        .about-header {

            margin-top: 50px;

            .about-text {
                font-size: 50px;
                margin-bottom: 20px;
            }
        }

        .about-content {
            .card {
                width: 100%;
                max-width: 600px;
                height: 150px;
                margin: 0;
                flex-direction: column;
                margin-top: 20px !important;
                margin-left: auto;
                margin-right: auto;
                width: 90%;
    
                .card-text {
                    font-size: 40px;
                    font-weight: bold;
                    color: white;
                    padding: 0 !important;
                    width: 100%;
                    text-align: center !important;

                    i {
                        display: none;
                    }
                }
    
                .card-content {
                    width:  100%;
                    height: 300px;
                    margin-top: 10px !important;
                    margin-bottom: 10px !important;

                    .skills-list {
                        ul {
                            li {
                                font-size: 14px !important;
                            }
                        }
                    }
                }
            }

            .education-card {
                .card-content {

                    text-align: center;

                    .university-name {
                        margin: 0;
                        float: none;
                        text-align: center;
                    }
    
                    .degree-name {
                        margin: 0;
                        float: none;
                        text-align: center;
                    }
                }
            }

            .skills-card {

                padding-top: 50px;
                //padding-bottom: 20px;

                .card-text {
                    display: inline !important;
                }
            }
        }
    }

    .projects-container {

        margin-top: 100px;
    
        .projects-header {
            .projects-text {
                font-size: 60px !important;
            }
        }
    
        .project-cards {
            .card {
                width: 90% !important;
                padding: 5%;
                height: 400px;
                margin-top: 0 !important;

                .card-content {

                    width: calc(100% - 20px) !important;
        
                    .card-title {
                        width: 100%;
                    }
    
                    .github-link {
                        width: 100%;
                    }
    
                    .used-tech {
                        width: 80%;
                        margin: auto;
                    }
                }

                .card-picture {
                    margin-left: auto;
                    margin-right: auto;
                    height: fit-content;
                    border-radius: 0 0 10px 10px;
                    width: 90%;
                    transform: none !important;

                    .card-picture-filter {
                        border-radius: 0 0 10px 10px;
                        border-top: none;
                    }

                }
            }
        }
    }

    .ball {
        width: 30px !important;
        height: 30px !important;
    }

  }



  .loader {
      position: fixed;
      z-index: 999;
      width: 100%;
      height: 100%;
      background-color: #1F2833;
  }

  .loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    margin-top: 300px;
  }
  .ball {
    width: 70px;
    height: 70px;
    border-radius: 35px;
    margin: 0 10px;
    
    animation: 2s bounce ease infinite;
  }
  .blue {
    background-color: white;
  }
  .red {
    background-color: white;
    animation-delay: .25s;
  }
  .yellow {
    background-color: white;
    animation-delay: .5s;
  }
  .green {
    background-color: white;
    animation-delay: .75s;
  }
  @keyframes bounce {  
      50% {
          transform: translateY(25px) scale(0.5);
      }
  }